<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About</h1>
    <img src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2Nob29sJTIwaW1hZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60" alt="">
    <h2>Caring For Foster Home</h2>
    <p>The teachers usually teach from a textbook trying to help students understand the content and this adds to rote learning .Therefore at all levels in a school system the textbook plays a significant role as students are assessed through examinations that are within the limits of the textbook and for the teacher it acts as a structuring device in a particular sequence that can be applied
<h2>Abraham Maslow Theory
</h2>
<p>Job specific tasks Learning by doing gives students deliberative practice opportunities to address a course’s objectives, according to Ken Koedinge (2002), professor of human-computer integration and psychology and co-coordinators of the Simon Initiative. Teachers give a task to students because it has an objective to be pursued. Teacher knows what they are doing. They give student circumstances for student to become strong in facing any problem.</p>
</p>
<h2>Management Information System Role</h2>
<p>LUCAS ATIIRU ADITIBA MANAGEMENT INFORMATION SYSTEM ASSIGNMENT The role of management information system in contemporary business/organizations cannot be over emphasized. Discuss Management Information System (MIS) is a combination of tools, processes, and technologies that an organization deploys in order to gather relevant operating data and gain efficiency in internal processes. The system consists of tools and technologies, such as computer software and hardware, as well as technical personnel</p>
</body>
</html>